@import "../../../../common/style/mixins";
@import "../../../../common/style/variables";

.form {
  display: flex;
  flex-direction: column;

  .fieldBox {
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;

    &:nth-child(2) {
      margin: 0;
    }
  }
  .addCoverInput {
    display: none;
  }

  .addCoverBtn {
    color: $themeColor;

    display: flex;
    align-items: center;

    margin-bottom: 8px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .coverBtnIcon {
    margin-left: 15px;
  }

  .addCoverBtnWrapper {
    flex-direction: column;
  }


  .fieldTitle {
    color: $tooltipColor;
  }

  .error {
    @include error-text;
  }

  .btnGroup {
    display: flex;
    justify-content: space-evenly;
  }
}