@import "../../common/style/mixins";

.mainContainer {
  margin-top: 30px;
  text-align: center;

  .wrapper {
    @include auth-wrapper();
    padding-top: 0;
    margin-top: 10px;
    text-align: left;

    display: flex;
    flex-direction: column;

    .tooltip {
      margin: 15px 0 20px 0;
    }
  }

  .header {
    width: 100%;
    padding-top: 30px;
  }

  .btn {
    @include commonBtn();
  }

  .answerGroup {
    margin: 15px 0 20px 0;
  }

  .questionTitle {
    margin: 0;
  }

}