$textColor: #151515;
$tooltipColor: #A4A4A4;

$themeColor: #1976D2;

$tableIconColor: #5e5d5d;
$tableIconHoverColor: #151515;

$tableHeadBackground: #EFEFEF;

$mediumScreen: 900px;
$largeScreen: 1200px;