@import "src/common/style/mixins";
@import "src/common/style/variables";

.cards {
  @include main-wrapper();
  padding: 0;

  .header {
    display: flex;
    justify-content: space-between;

    margin-top: 30px;

    @media screen and (max-width: $mediumScreen){
      flex-direction: column;
      align-items: center;

      .mainAddBtn {
        display: none;
      }
    }
  }

  button {
    &.disabled {
      pointer-events: auto;
      cursor: not-allowed
    }
  }
}