.controls {
  display: flex;
  justify-content: space-between;

  margin-top: 50px;

  .search {
    min-width: 300px;
  }
}

.btnContainer {
  display: flex;
  justify-content: center;

  min-width: 400px;

  .btn {
    width: 100px;
    border-radius: 5px;
  }
}

.sliderContainer {
  display: flex;
  justify-content: space-between;

  min-width: 300px;

  .slider {
    min-width: 250px;
    margin: 0 15px;
  }

  .sliderValue {
    display: block;
    height: 36px;

    margin: 0 10px;

    border: 1px solid #D9d9d9
  }

  .sliderInput {
      max-width: 50px;

      input {
        padding: 8.5px;

      }
  }
}