@import "src/common/style/variables";

.controls {
  display: flex;
  justify-content: space-between;

  margin-top: 50px;

  .search {
    min-width: 300px;

    @media screen and (max-width: $largeScreen){
      min-width: 200px;
    }
  }

  @media screen and (max-width: $mediumScreen) {
    flex-direction: column;
  }
}

.btnContainer {
  display: flex;
  justify-content: center;

  @media screen and (max-width: $mediumScreen){
    order: -1;
    margin-bottom: 30px;
  }

  .btn {
    width: 100px;
    border-radius: 5px;

    @media screen and (max-width: $largeScreen){
      width: 70px;
    }
  }
}

.sliderContainer {
  display: flex;
  justify-content: space-between;

  min-width: 300px;

  @media screen and (max-width: $mediumScreen){
    order: -1;
    margin-bottom: 30px;
  }

  .slider {
    min-width: 250px;
    margin: 0 15px;

    @media screen and (max-width: $largeScreen){
      min-width: 200px;
    }
  }

  .sliderValue {
    display: block;
    height: 36px;

    margin: 0 10px;

    border: 1px solid #D9d9d9
  }

  .sliderInput {
      max-width: 50px;

      input {
        padding: 8.5px;

      }
  }
}